.b-node {
    width: 100%;
    position: relative;
    min-height: 30px;
}

.b-node__title {
    position: relative;
    cursor: pointer;
}

.b-node__title-text {
    display: inline-block;
    position: relative;
    background: #fff;
    font: 10px sans-serif;
    margin: 0 0 0 5px;
}

.b-node__title-text:hover {
    background: #d3d3d3;
}

.b-node__expand-button {
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    border: 1px transparent;
    margin:  0 0 0 5px;
    z-index: 1;
    border-radius: 4px;
    font: 12px / 11px sans-serif;
    text-align: center;
    vertical-align: middle;
    background: #fff;
}

.b-node_expandable > .b-node__title > .b-node__expand-button {
    cursor: default;
    border: solid 1px #666;
    background: #b2b2b2;
}

.b-node__internal {
    position: relative;
    width: 100%;
}

.b-node_collapsed > .b-node__internal {
    display: none;
}

.b-node_expanded > .b-node__internal {
    display: block;
}

.b-node__internal {
    position: relative;
    padding:  5px 0 0 10px;
}
